@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  /* font-family: 'Trebuchet MS', sans-serif; */
  /* font-size: 0.875rem; */
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
}

list{
  list-style: none;
}

/* layout for admin dashboard skeleton*/
.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

/* Sidebar Size & color */
#sidebar {
  /* sidebar width */
  max-width: 260px;
  min-width: 260px;
  background-color: #f8f9fa;
  transition: all 0.35s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  /* main background color */
  background: #f1f1f1;
}

/*Sidebar Element Style */

/* Padding for Student Analysis  */
.sidebar-logo{
  /* padding: 1.5rem; */
  padding-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* Color And Size,Weight for Student Analysis */
.sidebar-logo a{
  color: black;
  font-size: 1.50rem;
  font-weight: 500;
}

/* list styling */
.sidear-nav{
  flex-grow: 1s;
  list-style: none;
  margin-bottom: 0;
  
  padding-left: 0rem;  
  margin-left: 0;
}

.sidebar-header{

  color:white;
  /* admin element size */ 
  font-size: 1.1rem;
  /* padding: 1.5rem 1.5rem 0.375rem; */
  padding-left:1.5rem ;
}

/* main list contant style */
.sidebar-link{
  padding: 0.625rem 2.2rem;
  color: black;
  position: relative;
  display: black;
  font-size: 1rem;
}

/* nested list content style */
a.sidebar-nested-link{
  padding: 0.300rem 4rem;
  color: black;
  position: relative;
  display: block;
  font-size: 1rem;
} 

/* Photo Size */
.avatar{
  height: 40px;
  width: 40px;
}

/* Photo align right side */
.navbar-expant,.navbar-nav{
  margin-left: auto;
}

/* sidebar toggle */
#sidebar.collapsed{
margin-left: -260px;
}

/* dashboard photo sizing */
img{
height: 200px;
height: 200px;
}

/* fotter and nav*/ 
/* @media(max-width:767.98){
.navbar,
footer{
  width: 100%;
}
}
*/

/* Dashbard Card Size */
.dashboard .card{
height: 10rem;
}
/* Remove box-shadow from select & form */
.form-select:focus,
.form-control:focus{
box-shadow: none;
}

/* Remove radius from select & form */
.form-select,
.form-control{
border-radius: 0px;
}

.active{
border-left: 4px solid rgb(32, 3, 255);
background-color: rgb(215, 227, 248);
}

.active a{
color:rgb(32, 92, 246);
}

