@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.list {
    list-style: none;
}

/* layout for admin dashboard skeleton*/
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

/* Sidebar Size & color */
#sidebar {
    /* sidebar width */
    max-width: 260px;
    min-width: 260px;
    background-color: #f8f9fa;
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    /* main background color */
    background: #CED4DA;
}

/*Sidebar Element Style */


.sidebar-item {
    padding-left: 1.5rem;
}

/* Padding for Student Analysis  */
.sidebar-logo {
    /* padding: 1.5rem; */
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* Color And Size,Weight for Student Analysis */
.sidebar-logo a {
    color: black;
    font-size: 1.50rem;
    font-weight: 500;
}

/* list styling */
.sidear-nav {
    flex-grow: 1s;
    list-style: none;
    margin-bottom: 0;

    padding-left: 0rem;
    margin-left: 0;
}

.sidebar-header {

    color: white;
    /* admin element size */
    font-size: 1.1rem;
    /* padding: 1.5rem 1.5rem 0.375rem; */
    padding-left: 1.5rem;
}

/* main list contant style */
.sidebar-link {
    /* background-color: red;  */
    color: black;
    position: relative;
    /* display: black; */
    font-size: 1rem;
}

/* nested list content style */
.sidebar-nested-link {
    padding-left: 1.5rem;
    color: black;
    position: relative;
    display: block;
    font-size: 1rem;
}

/* Photo Size */
.avatar {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

/* Photo align right side */
.navbar-expant,
.navbar-nav {
    margin-left: auto;
}

/* sidebar toggle */
.collapsed {
    margin-left: -260px;
}

/* dashboard photo sizing */
img {
    height: 200px;
    height: 200px;
}

/* fotter and nav*/
/* @media(max-width:767.98){
.navbar,
footer{
  width: 100%;
}
}
*/

/* Dashbard Card Size */
.dashboard .card {
    height: 10rem;
}

/* Remove box-shadow from select & form */
.form-select:focus,
.form-control:focus {
    box-shadow: none;
    border-color: #355389;
}

.sidear-nav .active {
    /* border-left: 4px solid rgb(32, 3, 255); */
    border-left: 4px solid #355389;
    background-color: rgb(215, 227, 248);
    padding: 0.9rem 1rem;
    padding-left: 1rem;
}

/* .sidear-nav .sidebar-item a{
    color: red;
} */

.sidear-nav .active .a {
    /* color: rgb(32, 92, 246); */
    color: #355389;
}

.sidear-nav li {
    padding: 0.6rem 1rem;
}

.custom-width tr td input {
    max-width: 80px;
    /* Centering the text cursor pointer */
}

.custom-width tr td:hover {
    background-color: #c5c7c9;
    /* background-color: #a6e0ec; */
    /* background-color: #f41c0c; */
}

.custom-width tr td input[type="text"] {
    text-align: center;
    /* Align text in the center */
}

.more-btn .dropdown-menu {
    background-color: #fff;
    /* Background color for the dropdown menu */
    border-color: #fff;
}

.more-btn .dropdown {
    box-shadow: none;
    border: none;
    background: transparent;
}

.login .form-control {
    border-radius: 8px;
}

@media screen and (max-width: 576px) {
    .login-img {
        height: 100px;
        width: 100px;
    }

    .sidebarMobile {
        margin-left: -260px;
    }

    .collapsed {
        margin-left: 0px;
    }
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Ensures it spans the entire width of the viewport */
    background-color: #f8f9fa;
}


.btn-primary {
    background: #355389;
    border: #355389;
    color: #fff;
}

/* .btn-success {
    background: #355389;
    border: #355389;
    color: #fff;
} */

.text-custom {
    color: #355389;
}

.form-check-input:checked {
    background-color: #355389;
    border-color: #355389;
}

a {
    color: #355389;
}

.bg-custom {
    background-color: #304161;

}

.btn-primary:hover {
    background-color: #304161;
}

.capitalize {
    text-transform: uppercase;
}

.selectpicker {
    width: 100%;
}

.Custom_Footer {
    border-top: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #355389;
    --bs-btn-border-color: #355389;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #355389;
    --bs-btn-hover-border-color: #355389;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #355389;
    --bs-btn-active-border-color: #355389;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #355389;
    --bs-btn-disabled-border-color: #355389;
}

.sidebar-item a:hover {
    color: #355389;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #355389;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #355389;
    --bs-pagination-active-border-color: #355389;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}

a.page-link {
    color: #355389;
}

.bi-download {
    color: #355389;

}
